{% extends "layout.html" %}

{% load static %}  <!-- Load the static template tag -->

{% block title %}
  Tweetkaro
{% endblock %}

{% block content %}
 <h1 class="text-center mt-4">Welcome to Tweetkaro</h1>
 <a class="btn btn-primary mb-3" href="{% url 'tweet_create' %}">Create a Tweet</a>

 <div class="container row gap-3">
    {% for tweet in tweets %}
    <div class="card" style="width: 18rem;">
        {% if tweet.photo and tweet.photo.name %}
            <img src="{{ tweet.photo.url }}" class="card-img-top" alt="{{ tweet.text }}">
        {% else %}
            <img src="{% static 'default_image.jpg' %}" class="card-img-top" alt="No Image Available"> <!-- Default image -->
        {% endif %}
        <div class="card-body">
          <h5 class="card-title">{{ tweet.user.username }}</h5>
          <p class="card-text">{{ tweet.text }}</p>
          <a href="{% url 'tweet_edit' tweet.id %}" class="btn btn-primary">EDIT</a>
          <a href="{% url 'tweet_delete' tweet.id %}" class="btn btn-danger">DELETE</a>  
        </div>
      </div>
    {% endfor %} 
</div>
{% endblock %}
